.data-display {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  overflow-y: auto;
}

.data-display h2 {
  text-align: center;
  margin-bottom: 20px;
}

.data-display img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.data-display p {
  margin-bottom: 10px;
}

.data-display a {
  color: #4caf50;
}

.student-details{
  border: 1px solid #888;
  padding: 1rem;
  margin-bottom: 1rem;
}

.data-display-section{
  max-height: 920px;
    overflow-y: auto;
}

@media (min-width: 768px) {
  .data-display {
    max-width: none;
  }
}
